<!-- will be a child of base-->
{% extends "base.html" %}

{% block content %}
    <section class = "plant-collect">
    <div class= "formContainer">
<!--form done using more current tags... -->
<form id = "insertPlantForm" action = "{{url_for('thank_you')}}">
<!-- group the related elements in a form -->
<h3> ADD A NEW PLANT</h3>
<fieldset>
 <p>
    <label>Owner Name:</label>
    <input type="text" size="24" maxlength = "40" name = "o_name" required> 
</p>

<p>
    <label>Plant Name:</label>
    <input type="text" size="24" maxlength = "40" name = "a_name" required> 
</p>
<p>
    <label>Geographic Location:</label>
    <input type = "text" size="24" maxlength = "40" name = "a_geo_loc" required>
</p>
<p>
    <label>Birth Date (DD-MM-YYYY):</label>
    <input type="date" name="a_date" required>
</p>
<p>
    <label>Description:</label>
    <textarea type = "text" rows="4" cols="50" name = "a_descript" required></textarea>
</p>
<!-- <p>
    <label>Upload Image:</label> 
    <input type ="file" name = 'filename' size=10 required/>
</p> -->
 <p>
    <label></label>
    <input id = "submitPlant" type = "submit" name = "submit" value = "submit my info" id =buttonS />
</p>
 </fieldset>

</form>
</div>
</section>
{% endblock %}