<!-- will be a child of base-->
{% extends "base.html" %}

{% block content %}
<result class="star_organizer">
    <h3> Order Received. Thank you,{{order_name}}</h3>
    <p>Order summary:</p>
    <!-- <p>{{OrderSummary}}</p> -->
    {% for element in OrderSummary %}
    <li style="color:rgb(255, 252, 75)">{{element}}</li>
    <!-- IF statement  -->
    {% if "*" in element %}
    <p style="color:rgb(255, 252, 75)">A Star for a vowel!</p>
    <img src="{{url_for('static' , filename ='images/'+star_img)}}" width="200" height="200" />
    {% else %}
    <p style="color:rgb(12, 10, 99)">Is a consonnant, here's a donut</p>
    <img src="{{url_for('static' , filename ='images/'+donut_f_img)}}" width="200" height="200" />
    {% endif %}
    {% endfor %}
</result>
{% endblock %}