<!-- will be a child of base-->
{% extends "base.html" %}
<!-- js for this page-->
{% block scriptblock %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <script src="{{url_for('static',filename='js/client.js')}}"></script>
{% endblock %}
{% block content %}
        <section class="username-container">
            <p>
                <input type="text" id="uName" placeholder="enter your name" />
                <input type="button" id="uButton"value="submit" /></p>
        </section>
        <section id = "chat">
 
   <div class="chat-text-container">
        <p><label>Input Text: </label><input type="text" id="message" size="40" />
        <input type ="button" id="sub" value="submit"></p>
    </div>
 
    <div id="container">
        <ul id="chatList">
        </ul>
</div>
</section>
{% endblock %}