<!doctype html>
<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
     <title>CART 351 FLASK TEST WITH MONGO</title>
    <!--new add a custom block for the script-->
    {% block scriptblock %}
    {% endblock %}
    </head>
    <body>
        <header> 
            <h2>CART 351 FLASK TEST WITH MONGO</h2>
 
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
            footer info ** footer info **
        </footer>
    </body>
</html>