
{% extends "base.html" %}
 
{% block content %}
<p>The Results from the Plant Database :)</p>
 <div id='back'>
        {% for el in result %}      
    <div class='outer'>
        <div class='content'>
                {% for key, value in el.items() %}
                {% if key != "imagePath" %}
                  <p>  {{ key }}: {{ value }} </p>
                {% endif %}
        {% endfor %}
        <img src="{{url_for('static',filename = el['imagePath'] )}}" />
    </div>
    </div>  
     {% endfor %}
</div>
{% endblock %}



