<!doctype html>
<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    <title>CART 351 FLASK TEST </title>
 
    </head>
    <body>
        <header> 
            <h2> WEB APP HEADER </h2>
            <nav>
                <ul>
                    <li> <a href="/index">Home </a> </li>
                    <li> <a href="/about">About</a> </li>
                </ul>
                </nav>
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
            footer info ** footer info **
        </footer>
    </body>
</html>