.fortune {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(189, 91, 91);
    min-height: 5vh;
    max-height: fit-content;
    padding: 5px;
    color: rgb(255, 253, 158);
}


.histfortune {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(27, 38, 190);
    min-height: 5vh;
    max-height: fit-content;
    padding: 5px;
    color: rgb(255, 253, 158);
}

.fortuneBody {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    background-color: rgb(58, 41, 90);
    min-height: 5vh;
    padding: 5px;
    color: rgb(255, 253, 158);
}


.fortuneorganizer {
    display: flex;
    flex-direction: row;
    background-color: rgb(109, 84, 219);
    min-height: 5vh;
    padding: 5px;
    color: rgb(255, 253, 158);

}

.MainHeader {
    display: flex;
    justify-content: center;
}