<!doctype html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base.css">
    {% block scripts %}{% endblock %}
    <title>CART 351 - Project02</title>

</head>

<body>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>