<!-- will be a child of base-->
{% extends "base.html" %}
{% block scripts %}
<all class="starry_bg">
    <script src="{{url_for('static',filename='js/libraries/p5.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    {% endblock %}

    {% block content %}
    <header class="MainHeader">
        <h2> Fortune Rookie </h2>
    </header>
    <h3>Press ENTER to write your name and ENTER again for the last two digits of your birthday. Press ENTER a third
        time to
        get your fortune.</h3>
    <section>
        <!-- stuff goes in here -->
        <div id="p5Container" class="fortuneBody">
            <script src="{{url_for('static',filename='js/libraries/p5.min.js')}}"></script>
            <script src="{{url_for('static',filename='js/script.js')}}"></script>
            <div class="fortuneorganizer" id=resultcards>
                <div class="fortune">
                    <h3>
                        Current Fortune
                    </h3>
                    Name: <span id="name"></span> Birthdate: <span id="birthyear"> </span> Fortune: <span
                        id="text"></span>
                </div>
            </div>
        </div>
    </section>
</all>
{% endblock %}